extends html

snippet "[P|p]rovider" "React Redux provider" rw
<Provider store={$1}>
  ${0:${VISUAL}}
</Provider>
endsnippet

snippet "[R|r]oute" "React Route route" rw
<Route ${1:exact/strict} ${2:path="$3"} ${4:component={$5}/render={$5}/children={$5}} />$0
endsnippet

snippet "[L|l]ink" "React Route link" rw
<Link to="$1" />$0
endsnippet

